In [1]:
import pandas as pd

In [2]:
url='https://raw.githubusercontent.com/Sairaj9604/ML_Dataset/main/SVM.csv'
data=pd.read_csv(url)
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
data.drop(['sales','salary'],axis=1,inplace=True)

X=data.drop('left',axis=1)
Y=data['left']

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [6]:
from sklearn.svm import SVC
classifier = SVC(kernel='linear', random_state = 42)
classifier.fit(x_train,y_train)


y_pred = classifier.predict(x_test)

In [7]:
from sklearn.metrics import confusion_matrix,accuracy_score
print(accuracy_score(y_test,y_pred)*100)

76.8

In [8]:
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[3199  229]
 [ 815  257]]